
body{
    margin: 0%;
    font-family: 'Oswald', sans-serif;
}
.flax-area{
    display: flex;
}
h1{
    font-size: 60px;
}
h2 {
    font-size: 64px;
    color: blueviolet;
    margin-top: -48px;
}
.title{
    /* height: 100px; */
    border-left: 5px solid blue;
    border-radius: 5px;
    padding-left: 25px;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img {
    width: 70%;
    padding-left: 10px;
}
.link-button{
    text-decoration: none;
    background-color: rgb(103, 103, 241);
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
}
.journey-section{
    display: flex;
}
.journey-div{
    width: 30%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 5%;
    margin-top: 5%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
}
.journey-div img {
    width: 150px;
    margin-bottom: 24px;
}
.journey-pad{
    padding-left: 20px;
}
.develop-without{
    display: flex;
    margin-top: 80px;
    margin-bottom: 120px;
}
.coding-img {
    width: 40%;
    padding-left: 31px;
}
.coding-img img{
    width: 80%;
    
}
.coding-section {
    width: 60%;
    margin-top: 12px;
}
.coding-section h3{
    font-size: 40px;
}
.community-section {
    width: 60%;
    margin-top: 12px;
    margin-left: 49px;
}
.community-section h3{
    font-size: 40px;
}
.community-img{
    width: 40%;
    padding-left: 31px;
}
.community-img img{
    width: 80%;
}